/*GENERALES*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@400;700&family=Roboto:ital,wght@1,700&display=swap");
/*fuentes de google*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    font-family: "Merriweather", serif;
  }
  
  /*iconos de busqueda*/
  a {
    text-decoration: none;
    color: inherit;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}