/*index*/
$colores:(
    fondo: white,
    boton-icono:black,
    fondo-footer:black,
    fondo-contenedor8:black,
);

$tamaños: (
    mensaje-descuento: 25px,
    figcaption: 15px,

);

/*producto*/
$tamaño: (
    texto-y-botones:25px,
);

